table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 30cm;
}
.firstLine{
    border-bottom: 2px solid black;
  text-align: center;
  padding-bottom: 8px;
  padding-top: 8px;
}




td, th {
  border-bottom: 1px solid #dddddd;
  text-align: center;
  padding-bottom: 8px;
  padding-top: 8px;
}
.tableList{
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding-bottom: 8px;
  padding-top: 8px;
}


header {
font-size: 22;
font-weight: bold;
}

tr:nth-child(odd):not(:first-child) {
  background-color: #dddddd;
}


ul {
  display: block;
  list-style-type: disc;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 20px;
}

.small-header {
  font-size: 16px; 
  font-weight: normal;
  font-style: italic;
}